<div class="row">
 	<h3 class="foodlover">Giới thiệu</h3>
</div>
<div class="row">
    <div class="col-lg-6">
        <%= image_tag 'gioithieu/gioithieu1.png', class: "img-responsive" %>
    </div>
    <div class="col-lg-6 text-justify">
        <p style="font-size:19px">CHẠM ĐẾN TRÁI TIM - Chúng tôi đam mê, sáng tạo, tư duy thoát khỏi khuôn mẫu kinh doanh và làm tất cả để cung cấp những trải nghiệm mua sắm trực tuyến độc đáo cũng như truyền cảm hứng yêu thương và kết nối đến với từng khách hàng thuộc mọi lứa tuổi và lĩnh vực khác nhau.</p>
    </div>
</div>