<script type="text/javascript" src="http://code.google.com/apis/gears/gears_init.js"></script>

<div class="row">
 	<h3 class="foodlover">Liên hệ</h3>
</div>
<div class="row" style="padding: 0 0 10px 0;">
    <div class="col-lg-6">
        <iframe src="https://www.google.com/maps/d/embed?mid=1ulhNg4QtDQMHXrwFLE_UpTPVEGA"></iframe>
    </div>
    <div class="col-lg-6">
        <p>Nguyễn Văn Cừ, phường 2, quận 5, TP.HCM</p>
        <p>Điện thoại: (08) 123 45 678</p>
        <p>Email: info@foodlover.vn</p>
        <p>Website: www.foodlover.vn</p>
        <p>Giờ làm việc: 9:00 AM - 6:00 PM từ Thứ 2 - Thứ 6</p>
    </div>
</div>