// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-facebook {
  background-color: #3b5998;
  color: white
}
.btn-twitter {
  background: #00aced;
  color: white
}
.btn-google {
  background: #c32f10;
  color: white
}